html {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}
body h1,
h2 {
  font-weight: 100;
}
.main {
  width: 70%;
  height: 75vh;
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: #ba7896;
  border-radius: 2rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}
.totalScore {
  color: #bf2e34;
  font-size: 4rem;
  margin-top: 0;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f06c90;
  padding: 0 3rem;
  border-radius: 1rem;
  margin-top: 6rem;
  color: aliceblue;
  background-color: #c7365f;
}
.score h2 {
  margin: 0.6rem;
}
.left {
  width: 50%;
  border-radius: 2rem 0 0 2rem;
  background-color: teal;
}
.right {
  width: 50%;
  border-radius: 0 2rem 2rem 0;
}

.buttons {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons img {
  width: 30%;
  margin-top: 3rem;
}
.btn {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.7rem 2.5rem;
  backdrop-filter: blur(4px);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1.2rem;
}
.activePlayer {
  background-color: rgba(255, 255, 255, 0.4);
}
.rollDice {
  margin-top: 7rem;
}
/* .newGame {
  margin-top: 3.2rem;
} */
/* .holdUp {
  margin-top: 1rem;
} */
@media screen and (max-width: 1240px) {
  .main {
    width: 70%;
  }
}
@media screen and (max-width: 990px) {
  .main {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 90%;
  }
}
@media screen and (max-width: 680px) {
  .main {
    width: 95%;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .main {
    width: 100%;
  }
  body {
    font-size: 10px;
  }
  .score {
    padding: 0 2rem;
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 8px;
  }
  .btn {
    font-size: 0.8rem;
  }
  .score {
    font-size: 0.7rem;
  }
  .rollDice {
    margin-top: 9rem;
  }
}
