@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
html {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}
body h1,
h2 {
  font-weight: 100;
}
.main {
  width: 70%;
  height: 75vh;
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: #ba7896;
  border-radius: 2rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.totalScore {
  color: #bf2e34;
  font-size: 4rem;
  margin-top: 0;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f06c90;
  padding: 0 3rem;
  border-radius: 1rem;
  margin-top: 6rem;
  color: aliceblue;
  background-color: #c7365f;
}
.score h2 {
  margin: 0.6rem;
}
.left {
  width: 50%;
  border-radius: 2rem 0 0 2rem;
  padding-right: 1rem;
}
.right {
  width: 50%;
  border-radius: 0 2rem 2rem 0;
  padding-left: 1rem;
}

.buttons {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons img {
  width: 30%;
  margin-top: 3rem;
}
.btn {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.7rem 2.5rem;
  backdrop-filter: blur(4px);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1.2rem;
}
.activePlayer {
  background-color: rgba(255, 255, 255, 0.4);
}
.rollDice {
  margin-top: 7rem;
}
.winner {
  position: absolute;
  font-size: 1.1rem;
  color: #b60808;
  word-spacing: 3px;
}
.winnerBag {
  background-color: grey;
}
.info {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.modal-window {
  position: absolute;
  top: 5rem;
  word-spacing: 1px;
  line-height: 27px;
  color: white;
  border-radius: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #6d1740;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.modal-window button {
  position: absolute;
  top: 8px;
  right: 12px;
  color: white;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.modal-window h1 {
  font-weight: bold;
  text-decoration: underline;
}
.modal-window ul {
  font-size: 1.2rem;
}
.showModal {
  font-size: 2rem;
  border-radius: 1.5rem;
  outline: none;
  padding: 1rem;
  margin: 1rem;
}
.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 5;
}
@media screen and (max-width: 1240px) {
  .main {
    width: 80%;
  }
}
@media screen and (max-width: 990px) {
  .main {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  body {
    font-size: 12px;
  }
  .leftScore {
    margin-right: 4rem;
  }
  .rightScore {
    margin-left: 4rem;
  }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 10px;
  }
  .score {
    padding: 0 2rem;
    margin-top: 0;
  }
  .rollDice {
    margin-top: 8rem;
  }
  .leftScore {
    margin-right: 0;
  }
  .rightScore {
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 8px;
  }
  .btn {
    font-size: 0.8rem;
  }
  .score {
    font-size: 0.7rem;
  }
  .rollDice {
    margin-top: 9rem;
  }
}
